.dataset_att1{
    margin-left: 20px;
    margin-bottom: 10px;
    align-items: center;

}
.datset_p_tag_style{
    margin-left: 35px;
    margin-top: 6px;
}

.dataset_att2{
    margin-left: 45px;
    margin-bottom: 10px;
    align-items: center;

}

.dataset_att3{
    margin-left: 50px;
    margin-top: 15px;
    align-items: center;

}


.dataset_att4{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    

}


.dataset_att6{
    margin-left: 30px;
    margin-top: 100px;
}